<ion-header>

  <ion-navbar>
    <ion-title>Mi perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <h2 text-center>Mi información</h2> 
    <ion-list>

        <form [formGroup]="userForm">
                <div class="button-round" (click)="openPhotoOptions()" text-center style="">
                        <img [src]="imgPreview" class="userAvatar" height=100 *ngIf="imgPreview">
                        <ion-icon name="add" class="addIcon"></ion-icon>
                </div>
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input formControlName="name" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Apellido</ion-label>
                <ion-input formControlName="lastname" type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label floating>Teléfono</ion-label>
                <ion-input formControlName="telephone" type="number"></ion-input>
            </ion-item>

            <ion-item *ngIf="!isProvider">
                <ion-label floating>Tu código promocional</ion-label>
                <ion-input formControlName="sharingCode" [disabled]="true" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="!isProvider">
                <ion-label floating>Servicios Gratuitos</ion-label>
                <ion-input formControlName="freeServices" [disabled]="true" type="text"></ion-input>
            </ion-item>
            <ion-item *ngIf="isProvider">
                <ion-label>Comentarios de Goodboy</ion-label>
                <ion-textarea formControlName="comments" name="description" disabled="true"></ion-textarea>
              </ion-item>
        </form>
        <button ion-button full color="secondary" (click)="register()">Actualizar</button>             
        <button ion-button full color="third" (click)="documents()" *ngIf="isProvider" class="whiteButton">Documentos</button>             
    </ion-list>




    <ion-list *ngIf="!isProvider">
    <h2 text-center>Mis mascotas</h2>

        <ion-item *ngFor="let dog of dogs" (click)="editDog(dog)">
            <ion-avatar item-start>
                <img [src]="dog.img">
            </ion-avatar>
            <h2>{{dog.name}}</h2>
            <h3>{{dog.breed}}</h3>
        </ion-item>
        <button ion-button full color="secondary" [navPush]="newPet">Agregar mascota</button>             
      </ion-list>
</ion-content>
