
<ion-header>

  <ion-navbar>
    <ion-title>Main Provider</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 text-center>Órdenes</h4>
  <h4 *ngIf="!orders">No hay órdenes disponibles</h4>
  <ion-card *ngFor="let order of orders">
    <img src="assets/imgs/shower-dog.png"/>
    <ion-card-content>
      <ion-card-title>
        {{order.service}}
      </ion-card-title>
      <p>Para: {{order.pet.name}}</p>
      <p>Ordenado:   {{order.created_at | date:"medium"}}</p>
      <p>Estado actual:   {{order.status_id}}</p>
      <button ion-button full color="secondary" (click)="accept(order)">Aceptar Órden</button>             
    </ion-card-content>
  </ion-card>
</ion-content>
