
<ion-header>

  <ion-navbar>
    <ion-title>goodboy</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <h4 text-center>Órdenes en Curso</h4>
    <p *ngIf="!currentOrders">No hay órdenes en curso</p>
    <ion-card *ngFor="let order of currentOrders">
      <img src="assets/imgs/shower-dog.png"/>
      <ion-card-content>
        <ion-card-title>
          {{order.service}}
        </ion-card-title>
        <p>Para: {{order.pet.name}}</p>
        <p>Ordenado:   {{order.created_at | date:"medium"}}</p>
        <p>Estado actual:   {{order.status}}</p>
        <button 
          ion-button 
          full color="secondary" 
          (click)="viewCurrent(order)"
          *ngIf="order.status_id < 6">Ver Orden</button>             
      </ion-card-content>
    </ion-card>

  
  <h4 text-center>Nuevas órdenes</h4>
  <p *ngIf="!newOrders">No hay órdenes disponibles</p>
  <ion-card *ngFor="let order of newOrders">
    <img src="assets/imgs/shower-dog.png"/>
    <ion-card-content>
      <ion-card-title>
        {{order.service}}
      </ion-card-title>
      <p>Para: {{order.pet.name}}</p>
      <p>Ordenado:   {{order.created_at | date:"medium"}}</p>
      <p>Estado actual:   {{order.status_id}}</p>
      <button ion-button full color="secondary" (click)="accept(order)">Aceptar Orden</button>             
    </ion-card-content>
  </ion-card>

</ion-content>
