
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <h5 text-center padding *ngIf="!isProvider">¿Dónde la recogemos?</h5> 

    <div #map id="map"></div>    
    <div class="centerMarker"  *ngIf="!isProvider"></div>


    <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="address" *ngIf="!isProvider"></ion-input>
      </ion-item>

    <h6 *ngIf="isInCourse" text-center>Tiempo restante: {{timeRemaining | date:'mm:ss'}}</h6>      
    
    <button ion-button full color="secondary" (click)="next()" *ngIf="!isProvider">Siguiente</button>              
    <button ion-button full color="primary" (click)="viewOrder()" *ngIf="isProvider">Ver Órden</button>              
    <button ion-button full color="secondary" (click)="orderStart()" *ngIf="isProvider && !isInCourse">Recogí el Pedido</button>        
    <button ion-button full color="secondary" (click)="orderFinish()" *ngIf="isProvider && isInCourse">Terminé el Pedido</button>        
</ion-content>
