
<ion-header>

  <ion-navbar>
    <ion-title>map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <h5 text-center padding>¿Dónde la recogemos?</h5> 

    <div #map id="map"></div>    
    <div class="centerMarker"  *ngIf="!isProvider"></div>


    <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="address"></ion-input>
      </ion-item>

    <button ion-button full color="secondary" (click)="next()" *ngIf="!isProvider">Siguiente</button>              
    <button ion-button full color="secondary" (click)="viewOrder()" *ngIf="isProvider">Ver Órden</button>              
</ion-content>
