
<ion-header>

  <ion-navbar>
    <ion-title>Choose your dog</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h4 text-center padding>¿Para quién es el servicio?</h4>
  <p *ngIf="dogs.length == 0" text-center>¡No has agregado ninguna mascota!</p>
    <ion-scroll scrollX style="height:500px;">
        <div class="scroll-item" *ngFor="let dog of dogs">
            <div class="button-round" (click)="dogSelected(dog)">
                <img [src]="dog.img" class="userAvatar" *ngIf="dog.img">
              </div>
              <div class="title" text-center><h4>{{dog.name}}</h4></div>
        </div>   
      </ion-scroll>
</ion-content>
